{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Update Book</h1>

    <!-- Form to update a book -->
    <form method="POST" action="{{ url_for('books.update_book', book_id=book.book_id) }}">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="book_title" placeholder="Book Title" value="{{ book.book_title }}" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="book_author" placeholder="Book Author" value="{{ book.book_author }}" required>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="book_genre" placeholder="Book Genre" value="{{ book.book_genre }}" required>
            </div>
            <div class="col">
                <input type="number" class="form-control" name="book_pages" placeholder="Book Pages" value="{{ book.book_pages }}" required>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Update Book</button>
            </div>
        </div>
    </form>

</div>

{% endblock %}
